

<form method="post" action="add">
    <h1> Book Id :</h1>
    <input name="id" type="text">
    <h1> Book Name : </h1>
    <input name="name" type="text">

    <button type="submit">Add</button>
</form>