

<form method="POST" action="/edit">
    <h1> Book Id :</h1>
    <input name="id" type="text" value="{{book.id}}">
    <h1> Book Name : </h1>
    <input name="name" type="text" placeholder="{{book.name}}">

    <button type="submit">Edit</button>
</form>